# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

prisma-client
!server/prisma-client/
!server/prisma-client/client.ts
!server/prisma-client/client.ts
.wrangler